# Expo
.expo/
dist/
app.config.ts

# Soubory specifické pro OS
.DS_Store

# Logy
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Adresáře závislostí
node_modules/

# Sestavení
/android
/ios

# Citlivá data
google-services.json
credentials.json 